* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container h1 {
  margin: 50px 0;
}
.card-container {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}
.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  line-height: 2;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
}
.card img {
  width: 200px;
}
.card p {
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-container {
  text-align: center;
  margin: 0 auto;
}
.btn-container {
  margin: 50px 0;
}
.btn-container button {
  border: none;
  background-color: black;
  color: #fff;
  margin-left: 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

@media screen and (min-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }
}
